@page
@model ZwinnyCRUD.Cloud.Pages.Tasks.DetailsModel
@{ 
    string referer = Request.Headers["Referer"].ToString();
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Projects/Details?id=@Model.Task.ProjectId">@Model.Task.Project.Title</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Task.Title)</li>
    </ol>
</nav>

<h1>
    Task
    <small>
        <a class="" title="Edit" asp-page="/Tasks/Edit" asp-route-id="@Model.Task.Id"><i class="icon-pencil-1"></i></a><a class="text-danger" title="Delete" asp-page="/Tasks/Delete" asp-route-id="@Model.Task.Id"><i class="icon-cancel"></i></a>
    </small>
</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Project.Description)
        </dd>
    </dl>
</div>
<div>
    <a class="" title="Back to @Model.Task.Title details" href="@referer"><i class="icon-reply"></i></a>
</div>
